/* swagger CSS */

* {
    border: 1px dashed white;    
}

body {
    background: black;
    color: white;
}


.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.array {
    width: calc((100% / 3) - 10px);

}


img {
    width: 200px;
}










